python-dotenv==0.15.0

# JSONSchema2DB==1.0.1
#   requires psycopg2==2.7.2 (https://github.com/better/jsonschema2db/blob/master/setup.py) which does not have Python 3.8 support
#   workaround (does not work): install dependencies manually
#   $ pip3 install JSONSchema2DB --no-deps
#   $ pip3 install change_case
#   ...
#   jsonschema2db 1.0.1 requires psycopg2==2.7.2, but you have psycopg2 2.8.6 which is incompatible.


# psycopg2
#   Python 3.8 support was added in psycopg 2.8.4. https://github.com/psycopg/psycopg2/issues/1106
#   psycopg2==2.7.2 is the version required by JSONSchema2DB

# matplotlib==3.4.1 # Requirement already satisfied
numpy
opencv-contrib-python
pandas==1.2.4
imutils
scikit-image # skimage
networkx
